@model Todo.Web.Models.Todo.CreateTodo

@{
    ViewData["Title"] = "CreateTodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var groupsV = new List<Todo.Web.Models.Todo.GroupItem>();
    groupsV = ViewBag.VGgroups;
    int groupidV = ViewBag.VGgroupid;
    
}





<div>
    @*<a class="btn btn-outline-info" asp-controller="Todo" asp-action="Index" asp-route-id="@groupidV">Back to List</a>*@
    <h1>  <a class="fas fa-arrow-alt-circle-left" asp-controller="Todo" asp-action="Index" asp-route-id="@groupidV"></a>  Create Task: @ViewBag.VGgroupidd</h1>
</div>

<hr />
<div class="row">

    <div class="col-md-12">
        <form asp-controller="Todo" asp-action="CreateTodo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["Done"] != null)
            {
                <p class="alert alert-success"> @TempData["Done"]</p>
            }


            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>




            <div class="form-group">

                <label asp-for="GroupIDG" class="control-label" disabled></label>
                <select asp-for="GroupIDG" class="form-control" disabled>
                    @foreach (var item in groupsV)
                    {
                        <option value="@item.IDG" selected="@(item.IDG ==groupidV)">@item.GroupName</option>
                    }
                </select>

                <span asp-validation-for="GroupIDG" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Important" /> @Html.DisplayNameFor(model => model.Important)
                </label>

            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
