@model IEnumerable<Todo.Web.Models.Todo.TodoView>

@{
    ViewData["Title"] = "ListImportantAllGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>  <a class="fas fa-arrow-alt-circle-left" asp-controller="Todo" asp-action="TodoListAllGroup"></a> Todo Important </h1>

<p>
    <a class="btn btn-outline-primary" asp-controller="Todo" asp-action="CreateTodo">Create Todo</a>

</p>

<style>
    #colorcornflowerblue {
        color: cornflowerblue;
    }

    #colorblack {
        color: black;
    }

    #colorgreen {
        color: green;
    }

    #colorred {
        color: red;
    }

    .textgach {
        font-weight: bold;
    }

    .center-parent {
        text-align: center;
    }
</style>
<table class="table" width=100%>
    <thead class="thead-dark">
        <tr>

            <th width=5%>
                STT
            </th>
            <th width=10% class="center-parent">
                @Html.DisplayNameFor(model => model.DateCreate)

            </th>
            <th width=80%>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th width=12%>
                Add
            </th>
            <th class="center-parent" width=5%>
                @Html.DisplayNameFor(model => model.Important)
            </th>


            <th class="center-parent" width=5%>
                Progress
            </th>
            <th class="center-parent" width=3%>
                Edit
            </th>
            <th class="center-parent" width=2%>
                Finish
            </th>
            <th class="center-parent" width=5%>
                Delete
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.STT)
                </td>
                <td class="center-parent">
                    @Html.DisplayFor(modelItem => item.DateCreate)
                </td>
                @{ if (item.Important == false)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskName)

                        </td>
                    }
                    else
                    {
                        <td class="textgach">
                            @Html.DisplayFor(modelItem => item.TaskName)
                        </td>
                    }
                }

                <td>
                    @Html.ActionLink("", "Index", "ListTodo", new { id = item.ID }, new { @id = "colorcornflowerblue", @class = "fas fa-book-open" })
                    (@Html.DisplayFor(modelItem => item.AllListFinish)/@Html.DisplayFor(modelItem => item.AllList))
                </td>

                @{ if (item.Important == false)
                    {
                        <td class="center-parent">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            @Html.ActionLink("", "ImportantTodoImportant", "Todo", new { id = item.ID }, new { @class = "fa fa-star-o" })

                        </td>
                    }
                    else
                    {
                        <td class="center-parent">
                            @Html.ActionLink("", "ImportantTodoImportant", "Todo", new { id = item.ID }, new { @class = "fa fa-star" })
                        </td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Progress)
                    @Html.ActionLink("", "ProgressImportant", "Todo", new { id = item.ID }, new { @id = "colorcornflowerblue", @class = "fa fa-flag-checkered" })
                </td>
                <td class="center-parent">
                    @Html.ActionLink("", "UpdateTodo", "Todo", new { id = item.ID }, new { @id = "colorgreen", @class = "fas fa-edit" })
                </td>
                <td class="center-parent">
                    @Html.ActionLink("", "FinishTodo", "Todo", new { id = item.ID }, new { @id = "colorred", @class = "fa fa-flag-checkered", onclick = "return confirm('Are you sure to finish todo?')" })
                </td>
                <td class="center-parent">
                    @Html.ActionLink("", "DeleteTodo", "Todo", new { id = item.ID }, new { @id = "colorblack", @class = "fas fa-trash-alt", onclick = "return confirm('Are you sure to delete todo?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
