@model IEnumerable<Todo.Web.Models.Todo.TodoView>

@{
    ViewData["Title"] = "ListFinishGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>  <a class="fas fa-arrow-alt-circle-left" asp-controller="Todo" asp-action="TodoListAllGroup"></a> Task Finish </h1>

<p>
    <a class="btn btn-outline-primary" asp-controller="Todo" asp-action="CreateTodo">Create Task</a>

</p>



<style>
    .textgach {
        font-weight: bold;
    }

    .center-parent {
        text-align: center;
    }
</style>

<table class="table" width=100%>
    <thead class="thead-dark">
        <tr>
            <th width=5%>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th width=10% class="center-parent">
                @Html.DisplayNameFor(model => model.DateCreate)

            </th>
            <th width=80%>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>

            <th class="center-parent" width=5%>
                Delete
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td class="center-parent">
                    @Html.DisplayFor(modelItem => item.DateCreate)
                </td>
                @{ if (item.Important == false)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskName)

                        </td>
                    }
                    else
                    {
                        <td class="textgach">
                            @Html.DisplayFor(modelItem => item.TaskName)
                        </td>
                    }
                }

                <td class="center-parent">
                    @Html.ActionLink("", "DeleteTodoFinsih", "Todo", new { id = item.ID }, new { @class = "fas fa-trash-alt" })
                </td>

            </tr>
        }
    </tbody>
</table>
