@model IEnumerable<Todo.Web.Models.ListTodo.ListTodoView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #colorcornflowerblue {
        color: cornflowerblue;
    }

    #colorblack {
        color: black;
    }

    #colorgreen {
        color: green;
    }

    #colorred {
        color: red;
    }

    .textgach {
        font-weight: bold;
    }

    .center-parent {
        text-align: center;
    }

    #linethrough {
        text-decoration: line-through;
    }
</style>


<h1>  @Html.ActionLink("", "Index", "Todo", new { id = ViewBag.GroupList }, new { @class = "fas fa-arrow-alt-circle-left" }) Todo: @ViewBag.TodoList </h1>

<p>
    <a class="btn btn-outline-primary" asp-controller="ListTodo" asp-action="CreateListTodo">Create List</a>
</p>

















<table class="table" width=100%>
    <thead class="thead-dark">
        <tr>
            <th width="5%">
                @Html.DisplayNameFor(model => model.IDL)
            </th>
            <th width="80%">
                @Html.DisplayNameFor(model => model.ListName)
            </th>
            <th width="5%">
                @Html.DisplayNameFor(model => model.Finish)
            </th>
            <th width="5%">
                Edit
            </th>
            <th width="5%">
                Delete
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                @{ if (item.Finish == false)
                    {
                        <td class="center-parent">
                            @Html.DisplayFor(modelItem => item.IDL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ListName)
                        </td>
                        <td class="center-parent">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            @Html.ActionLink("", "FinishListTodo", "ListTodo", new { id = item.IDL }, new { @id = "colorblack", @class = "fa fa-flag-checkered" })
                        </td>

                    }
                    else
                    {
                        <td id="linethrough" class="center-parent">
                            @Html.DisplayFor(modelItem => item.IDL)
                        </td>
                        <td id="linethrough">
                            @Html.DisplayFor(modelItem => item.ListName)
                        </td>
                        <td class="center-parent">
                            @Html.ActionLink("", "FinishListTodo", "ListTodo", new { id = item.IDL }, new { @id = "colorred", @class = "fa fa-flag-checkered" })
                        </td>
                    }
                }

                @*
                    <td class="center-parent">
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    </td>*@
                <td class="center-parent">
                    @Html.ActionLink("", "UpdateListTodo", "ListTodo", new { id = item.IDL }, new { @id = "colorgreen", @class = "fas fa-edit" })
                </td>

                <td class="center-parent">
                    @Html.ActionLink("", "DeleteListTodo", "ListTodo", new { id = item.IDL }, new { @id = "colorblack", @class = "fas fa-trash-alt", onclick = "return confirm('Are you sure to delete list?')" })
                </td>

            </tr>
        }
    </tbody>
</table>
