@model IEnumerable<Todo.Web.Models.Group.GroupView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/adminlte.css" rel="stylesheet" />
<link href="~/css/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<style>
    .center-parent {
        text-align: center;
    }

    .marginpadding {
        margin: 10px;
        padding: 10px;
    }

    #colorcornflowerblue {
        color: cornflowerblue;
    }

    #colorblack {
        color: black;
    }

    #colorgreen {
        color: green;
    }

    #colorred {
        color: red;
    }

    .textgach {
        font-weight: bold;
    }

    .center-parent {
        text-align: center;
    }
</style>




<h1>Group Todo</h1>

<p>
    <a class="btn btn-outline-primary" asp-controller="Group" asp-action="CreateGroup">Create Group</a>
</p>
<table class="table table-striped table-bordered table-hover center-parent">
    <thead class="thead-dark">
        <tr>
            <th>STT</th>
            <th>

                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>Todo</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>

                    @Html.DisplayFor(modelItem => item.STT)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.AllTask)
                </td>
                <td>
                    @Html.ActionLink("", "Index", "Todo", new { id = item.IDG }, new { @id = "colorcornflowerblue", @class = "fas fa-book-open" })
                </td>



                @{ if (item.IDG == 1)
                    {
                        <td>
                            <p>Default</p>
                        </td>
                        <td>
                            <p>Default</p>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("", "UpdateGroup", "Group", new { id = item.IDG }, new { @id = "colorgreen", @class = "fas fa-edit" })
                        </td>
                        <td>
                            @Html.ActionLink("", "DeleteGroup", "Group", new { id = item.IDG }, new { @id = "colorblack", @class = "fas fa-trash-alt", onclick = "return confirm('Are you sure to delete group?')" })
                        </td>
                    }



                }




            </tr>
        }
    </tbody>
</table>
